{
  BasedOnStyle: Google,
  UseTab: Never,
  IndentWidth: 4,
  TabWidth: 4,
  BreakBeforeBraces: Allman,
  AllowShortIfStatementsOnASingleLine: false,
  AllowShortCaseLabelsOnASingleLine: true,
  IndentCaseLabels: false,
  ColumnLimit: 108,
  AccessModifierOffset: -4,
  NamespaceIndentation: None,
  FixNamespaceComments: true,
  AlignConsecutiveAssignments: true,
  AlignConsecutiveDeclarations: false,
  AlignTrailingComments: true,
}
